<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/701e2416eb.js" crossorigin="anonymous"></script>
    <title>ToDo List</title>
</head>
<body>
    <div class="todolist">
        <div class="heading">
            <h2>To-Do List</h2>
        </div>
        <div class="inputs-buttons">
            <div class="description">
                <input type="text" placeholder="What do you need to do?" name="description">
            </div>
            <div class="category">
                <select name="category" id="category" aria-placeholder="Choose a category">
                    <option disabled selected hidden>Choose a Category</option>
                    <option value="Personal">Personal</option>
                    <option value="School">School</option>
                    <option value="Work">Work</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="date">
                <label for="date">Due Date</label>
                <input type="date" name="date" id="date">
            </div>
            <div class="add_button">
                <button type="submit">Add ToDo</button>
            </div>
            <div class="deleteAll_button">
                <button type="submit">Delete All</button>
            </div>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li><li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
                <li>
                    <div><input type="checkbox" id="check"></div>
                    <div>
                        <div>
                            <label for="check">hii</label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span> 1 jan</span>
                        </div>
                    </div>
                    <div id="category">
                        <p>School</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-xmark cross"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>