body{
    margin:0px;
    background-color: grey;
    display: grid;
    place-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todolist{
    width:50vw;
    height:70vh;
    margin-top:15vh ;
    background-color: black;
    box-shadow: 0px 0px 13px 3px rgb(219, 219, 219);
}
.todolist .heading{
    width:100%;
    height:10%;
    border-bottom: 1px solid  white;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.todolist .heading h2{
    margin-left: 1.5rem;
}
.todolist .heading span{
    color:brown
}
.todolist .inputs-buttons{
    width: 100%;
    height:25%;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top:5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}
.todolist .inputs-buttons form{
    display: flex;
    flex-wrap: wrap;
}
.todolist .inputs-buttons form .description{
    width:80%;
    height:50%;
    display: grid;
    place-items: center;
}
.todolist .inputs-buttons form .description input{
    width:88%;
    height:70%;
    color: white;
    font-size: large;
    padding-left: 10px;
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
}
/* category */
.todolist .inputs-buttons form .category{
    width:45%;
    height:50%;
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.todolist .inputs-buttons form .category select{
    width:88%;
    height:70%;
    color: white;
    font-size: large;
    
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
}
/* date */
.todolist .inputs-buttons form .date{
    width:30%;
    height:33%;
    display: grid;
    place-items: center;
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
    position: relative;
    top: 9.5px;
}
.todolist .inputs-buttons form .date input{
    width:90%;
    height:90%;
    color: white;
    font-size: large;
    margin-left: 20px;
    background-color: rgb(25, 25, 25);
    border: none;
}
.todolist .inputs-buttons form .date label{
    color: rgb(218, 48, 48);
    font-weight:100;
}

/* // add button */
.todolist .inputs-buttons form .add_button{
    width: 23%;
    height:35%;
    position: relative;
    left:51px;
    top:-56px;
    
    
}
.todolist .inputs-buttons form .add_button button{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: larger;
    border: none;
}
.todolist .inputs-buttons a .deleteAll_button{
    width: 10rem;
    height:2.8rem;
    position: absolute;
    top:14.59rem;
    left:59.7rem;
    

}
.todolist .inputs-buttons a .deleteAll_button button{
    width: 100%; 
    height: 100%;
    border-radius: 30px;
    background-color: rgb(120, 0, 0);
    color: rgb(255, 255, 255);
    font-size: larger;  
    border: none; 
}


/* Todo list  */

.todolist .list{
    width:100%;
    height:60%;
    color:white;
    overflow:scroll;
    padding-bottom: 20px;
}
.todolist .list ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -3px;
    /* border: 1px solid white; */
    position: relative;
} 
.todolist .list::-webkit-scrollbar{
    display: none;
}
.todolist .list ul li{
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    /* margin-top: -12px; */
    display: flex;
    justify-content: start;
    justify-content: space-around;
    /* left:-17px; */
    align-items: center;
} 
.todolist .list ul li:nth-child(2n){
    background-color: rgb(37, 37, 37);
    /* border: 1px solid white; */
}

.todolist .list ul li #check{
    position: relative;
    left:-1rem;
}

.todolist .list ul li input:checked + .info #text label{
    text-decoration: line-through;
    text-decoration-color: brown;
}

.todolist .list ul li i:hover{
    background-color: black;
}
.todolist .list ul li #category{
    position: relative;
    /* left:7rem; */
    width:60px;
    height:30px;
    background-color: rgb(0, 157, 214);
    display: grid;
    place-content: center;
    color:black;
}
.todolist .list ul li label{
    font-size: larger;
    margin: 0;
}
.todolist .list ul li .date{
    font-size: smaller;
    margin:7px 0;
    color: grey;
}

.todolist .list ul li #text{
    position: relative;
    width:25rem;
    height: auto;
    margin:5px 0px;
    word-wrap: break-word;
}