body{
    margin:0px;
    background-color: grey;
    display: grid;
    place-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todolist{
    width:50vw;
    height:70vh;
    margin-top:15vh ;
    background-color: black;
    box-shadow: 0px 0px 13px 3px rgb(196, 196, 196);
}
.todolist .heading{
    width:100%;
    height:10%;
    border-bottom: 1px solid  white;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.todolist .heading h2{
    margin-left: 1.5rem;
}
.todolist .inputs-buttons{
    width: 100%;
    height:25%;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top:5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}
.todolist .inputs-buttons .description{
    width:70%;
    height:50%;
    display: grid;
    place-items: center;
}
.todolist .inputs-buttons .description input{
    width:88%;
    height:70%;
    color: white;
    font-size: large;
    padding-left: 10px;
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
}
/* category */
.todolist .inputs-buttons .category{
    width:35%;
    height:50%;
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.todolist .inputs-buttons .category select{
    width:88%;
    height:70%;
    color: white;
    font-size: large;
    
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
}
/* date */
.todolist .inputs-buttons .date{
    width:30%;
    height:33%;
    display: grid;
    place-items: center;
    background-color: rgb(25, 25, 25);
    border: 1px solid whitesmoke;
    position: relative;
    top: 9.5px;
}
.todolist .inputs-buttons .date input{
    width:88%;
    height:90%;
    color: white;
    font-size: large;
    margin-left: 10px;
    background-color: rgb(25, 25, 25);
    border: none;
}
.todolist .inputs-buttons .date label{
    color: rgb(218, 48, 48);
    font-weight:100;
}

/* // add button */
.todolist .inputs-buttons .add_button{
    width: 25%;
    height:35%;
    position: relative;
    top:-57px;
    margin-left:25px
}
.todolist .inputs-buttons .add_button button{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: larger;
    border: none;
}
.todolist .inputs-buttons .deleteAll_button{
    width: 25%;
    height:35%;
    position: relative;
    top:-57px;
    margin-left:33.5rem;
}
.todolist .inputs-buttons .deleteAll_button button{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(120, 0, 0);
    color: rgb(255, 255, 255);
    font-size: larger;  
    border: none;
}


/* Todo list  */

.todolist .list{
    width:100%;
    height:60%;
    color:white;
    overflow: auto;
}
.todolist .list ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
   
} 
.todolist .list::-webkit-scrollbar{
    display: none;
}
.todolist .list ul li{
    width: 100%;
    height: auto;
    margin-left: -24px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
    position: relative;
    left:-17px;
    align-items: center;
} 
.todolist .list ul li:nth-child(2n){
    background-color: rgb(49, 49, 49);
}

.todolist .list ul li #check{
    position: relative;
    left:-3.5rem;
}
.todolist .list ul li .cross{
    position: relative;
    left:3.5rem;
}
.todolist .list ul li #category{
    position: relative;
    left:7rem;
    width:60px;
    height:30px;
    background-color: rgb(1, 46, 63);
    display: grid;
    place-content: center;
}
.todolist .list ul li label{
    font-size: larger;
    margin: 0;
    border: 1px solid white;
}
.todolist .list ul li .date{
    font-size: smaller;
    margin:7px 0;
    color: grey;
}

.todolist .list ul li .date:nth-child(2n-1){
    color: rgb(0, 0, 0);
}